/* 
Copyright 2012 Kenneth Liu.

This file is part of ChromeItLater.

ChromeItLater is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
any later version.

ChromeItLater is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ChromeItLater.  If not, see <http://www.gnu.org/licenses/>.
*/

/* @import url(http://fonts.googleapis.com/css?family=Arimo&subset=latin);
*/

body {
	font-family: helvetica, arial, sans-serif;
}

/*fieldset {
	border-radius: .25em;
}*/

/**************************
* Styles for the options page
***************************/

#options_footer a:link { color: black; text-decoration:underline; }
#options_footer a:visited { color: black; text-decoration:underline; }
#options_footer a:hover { color: black; text-decoration:underline; }
#options_footer a:active { color: black; text-decoration:underline; }
 
#flash {
	border-radius: .5em;
}

.flashError {
	padding: 1em;
	background-color: Red;
} 

.flashMessage {          
	padding: 1em;
	background-color: LightGreen;
}                       

#options_header {
	padding-left: 1em;
}

#options_container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#options_content {
	border: 1px solid black;
	padding: 1em;	
}

#options_footer {
	padding: 1em;	
	font-size: .75em;
	background-color: gray;
}           
                          
