body {
	font-family: Sans-serif;
}
   
fieldset {
	border-radius: .5em;
}


/**************************
* Styles for the options page
***************************/

#options_footer a:link { color: black; text-decoration:underline; }
#options_footer a:visited { color: black; text-decoration:underline; }
#options_footer a:hover { color: black; text-decoration:underline; }
#options_footer a:active { color: black; text-decoration:underline; }

#container {
}
 
#flash {
	border-radius: .5em;
}

#options_container {
	width: 50%;
}

#options_content {
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	background-color: #36abe4;
	padding: 1em;	
}

#options_footer {
	padding: 1em;	
	font-size: .75em;
	background-color: gray;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
}           
                          
/**************************
* Styles for the popup
***************************/

#popup {
	margin: 0px;
	padding: 0px;
	border-style: solid; 
	border-width: 1px;
	border-color: #333333; 
	border-radius: 5px;
}

#popup_container {
}      

#add_panel {
	margin: 8px;
}

#popup label {
	font-size: .75em;
}

#popup input {
	margin-bottom: 5px;
}

.popup_message {
	margin: 8px;
}

/** styles for the footer in the popup */
#popup_footer {
	margin: 0;
	padding: 5px;
	font-size: .75em;
	background-color: #333333;
	/** float: left; */
	/** width: 100%; */
}  

#popup_footer ul {
	margin: 0;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#popup_footer li {
	display: inline;
	margin: 0;
	padding: 0;
}

#popup_footer a,
#popup_footer a:visited,
#popup_footer a:hover,
#popup_footer a:active {
	color: lightgray;
	padding: 5px;
	text-decoration: none;
}